<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 xml 은 어떤 interface(인터페이스) 를 참조해서 사용해야 하는가? -->
<mapper namespace="kr.co.gudi.member.dao.MemberDAO">
	<!-- namespace는 dao의 실행 package(위치) 명과 동일해야 한다 -->
	
	<select id="login" resultType="String">
		select id from member where id =#{param1} and pw=#{param2}
	</select>
	
</mapper>