<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? -->
<mapper namespace="kr.co.gudi.dao.MemberDAO">
	
	<!-- 다이나믹 sql -->
	
		<!-- else 가 없다
			파라메터 값이 MemberDTO이 기때문에 다 MemberDTO는 알리아스 설정을 했기 때문에 member 이된다
		<insert id="join" parameterType="member">
			INSERT INTO member(id,pw,name,age,gender,email)
			<if test="!email.equals('')">
				VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
			</if>
			<if test="email.equals('')">
				VALUES(#{id},#{pw},#{name},#{age},#{gender},'없음')
			</if>
		</insert> 
		-->
		
		
		<!-- if, else if 효과를 낼수 있다 -->
		<insert id="join" parameterType="member">
			INSERT INTO member(id,pw,name,age,gender,email)
			<choose>
				<when test="!email.equals('')">
					VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
				</when>
				<otherwise>
					VALUES(#{id},#{pw},#{name},#{age},#{gender},'없음')
				</otherwise>
			</choose>
		</insert>
		
		
		<!-- 라이크 검색어 -->
		<!-- %김지% : 이렇게 하면 오류남 -->
		<!-- 
			[MS-SQL] '%'+#{keyword}+'%'
			[ORACLE] '%'||#{keyword}||'%'
			[MYSQL] CONCAT('%',#{keyword},'%')
		 -->
		<!-- where 태그는 if 에 해당되는 내용이 없을땐 동작하지 않고, 있을 경우 WHERE 문을 넣어준다. -->		
		<select id="list" parameterType="map" resultType="member">
			SELECT * FROM member
				<where>
				<if test="opt == 'id' and !keyword.equals('')">id LIKE CONCAT('%',#{keyword},'%')</if>
				<if test="opt == 'name' and !keyword.equals('')">name LIKE CONCAT('%',#{keyword},'%')</if>
				<if test="opt == 'email' and !keyword.equals('')">email LIKE CONCAT('%',#{keyword},'%')</if>
				</where>

		</select>
		
		
		<!-- collection : 컬렉션프레임 워크 -->
		<!-- item : 덩어리를 하나하나 씩 빼줄때의 이름 -->
		<!-- separator : 구분자  -->
		<!-- SELECT * FROM member WHERE name = 'a' OR name = 'test'  -->
<!-- 		<select id="multi" parameterType="list" resultType="member">
			SELECT * FROM member 
			<where>
				<foreach collection="list" item="item" separator="OR">
					name = #{item}
				</foreach>
			</where> 
		</select> -->
		
		<!-- collection : 컬렉션프레임 워크 -->
		<!-- item : 덩어리를 하나하나 씩 빼줄때의 이름 -->
		<!-- separator : 구분자  -->
		<!-- open : for문이 실행 되기 전에 실행 되야 할게 있어? -->
		<!-- close : for문이 실행 되고나서 실행 되야 할게 있어? -->
		<!-- SELECT * FROM member WHERE name = 'a' OR name = 'test'  -->
		<select id="multi" parameterType="list" resultType="member">
			SELECT * FROM member 
			<where>
				name IN
				<foreach collection="list" item="item" open="(" separator="," close=")">
					 #{item}
				</foreach>
			</where> 
		</select>
		
		
		<!-- 
			문제 : 수정 하고 싶지 않는 것들을 입력 하지 안았을때 오류가 아니라 데이터가 수정 되지 않게 해라00
		 -->
		<!-- 입력하지 않은 정보는 수정되지 않게 하고 싶다 -->
		<!-- 이때, 가 문제가 되는데 set 태그를 사용 하면 불필요한 , 는 알아서 제거해 준다 -->
		<update id="update" parameterType="map">
			UPDATE member 
			<set>
				<if test="!pw.equals('')">
					pw=#{pw},
				</if>
				<if test="!name.equals('')">
					name=#{name},
				</if>
				<if test="!age.equals('')">
					age=#{age},
				</if>
				<if test="gender != null">
					gender=#{gender},
				</if>
				<if test="!email.equals('')">
					email=#{email}
				</if>
			</set>		
			WHERE id=#{id}
		</update>
	
</mapper>








