<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 xml 은 어떤 interface(인터페이스) 를 참조해서 사용해야 하는가? -->
<mapper namespace="kr.co.photo.board.dao.BoardDAO">
	<!-- namespace는 dao의 실행 package(위치) 명과 동일해야 한다 -->
		
		<select id="list" resultType="kr.co.photo.board.dto.BoardDTO">
			SELECT idx,subject,user_name,bHit,reg_date FROM bbs
		</select>
		
		<insert id="write" parameterType="map">
			insert into bbs(user_name,subject,content)values(#{user_name},#{subject},#{content})
		</insert>
		
		<update id="bHit" >
				update bbs set bHit = bHit + 1 where idx=#{param1}
		</update>
		
		<select id="detail" resultType="kr.co.photo.board.dto.BoardDTO">
			SELECT * FROM bbs WHERE idx = #{param1}
		</select>
		
		<update id="update" parameterType="map">
			update bbs set user_name= #{user_name},subject = #{subject}, content = #{content} where idx =#{idx}
		</update>
		
		<delete id="del">
			DELETE FROM bbs WHERE idx=#{param1}
		</delete>
	
</mapper>