<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.ajax.board.dao.BoardDAO">
	
	<select id="list" resultType="kr.ajax.board.dto.BoardDTO"> 
	SELECT
		(SELECT count(new_filename) FROM photo p WHERE p.idx= b.idx) AS img_cnt,
			b.idx,
			b.subject,
			b.user_name,
			b.bHit, 
			b.reg_date
	FROM bbs b ORDER BY idx DESC;
</select>
	

</mapper>