<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.gudi.dao.MemberDAO">
	
	<insert id="join" parameterType="member">
		insert into member(id,pw,name,age,gender,email)values(#{id},#{pw},#{name},#{age},#{gender},#{email})
		
	</insert>
	
	<select id="login" resultType="String">
		select pw from member where id = #{param1}
	</select>
	
	<select id="list" resultType="member">
		select id,pw,name,age,gender,email from member
	</select>
	
</mapper>