<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 xml 은 어떤 interface(인터페이스) 를 참조해서 사용해야 하는가? -->
<mapper namespace="kr.co.gudi.dao.MemberDAO">
	<!-- namespace는 dao의 실행 package(위치) 명과 동일해야 한다 -->
	<!-- mybatis 가 알아서 해준 내용들.. 
		connection 가져오기
		실행객체 생성하기(PreparedStatement | Statement)
		? 대응
		쿼리 실행(executeQuery | executeUpdate)
		결과값 반환
		지원반납
	 -->
	 <!-- map 을 쓸때는 파라미터 번호를 쓰는게 아니다 키 값을 입력 해야한다 -->
	 <insert id="join" parameterType="map">
	 	insert into member(id,pw,name,age,gender,email)values(#{id},#{pw},#{name},#{age},#{gender},#{email})
	 </insert>
	
</mapper>