<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.back.board.dao.boardDAO">
	
	<select id="list" resultType="kr.co.back.board.dto.BoardDTO"> 
	SELECT
		(SELECT count(new_filename) FROM photo p WHERE p.idx= b.idx) AS img_cnt,
			b.idx,
			b.subject,
			b.user_name,
			b.bHit, 
			b.reg_date
	FROM bbs b ORDER BY idx DESC;
</select>

<delete id="del" parameterType="String">
	delete from bbs where idx = #{param1}
</delete>

<select id="getFilse" resultType="String">
		select new_filename from photo where idx =#{param1}
</select>

</mapper>